<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
    </tr>
    <th:block th:each="user : ${users}">
        <tr>
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.address}"></td>
            <td><a th:href="@{editUser/{id}(id=${user.id})}">Edit</a></td>
            <td><a th:href="@{user-delete/{id}(id=${user.id})}">Delete</a></td>
        </tr>
    </th:block>
</table>
<div style="text-align: center; margin: 16px">
    <a href="/new">Add new user...</a>
</div>
</body>
</html>